body {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

.indexMain {
    margin: 1em;
}

.avatarImage {
    width: 100%;
}

header {
    margin: 1em;
    font-size: 1.5em;
}

.showNav {
    height: 1.4em;
    width: 1.8em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.8em;
    margin-top: 0.3em;
    border-top: 0.3em solid white;
}

.hamburgerIcon {
    padding: 2em;
}

nav {
    display: none;
    background: rgb(43, 41, 41);
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}

.blurBackground {
    width: 300px;
    height: 400px;
    margin: 1em;
}

.placeholderImage {
    height: 150px;
    width: 150px;
}

.projectsMain p {
    font-size: 10px;
}

.projectsMain h1 {
    font-size: 30px;
}

.projectsMain {
    font-size: 1.5em;
    margin: 2.1em 1.6em;
    display: block;
    text-align: center;
    align-items: center;
}

.blurBackground {
    border-radius: 30px;
}

.contactMain {
    margin: 2.5em 1em;
}

.contactInfo h1 {
    font-size: 30px;
}

.contactInfo p {
    font-size: 10px;
}

.footerBackground {
    position: absolute;
    width: 100%;
    height: 140px;
    background: rgb(31, 30, 30);
}